<div class="card">
    <h5 class="card-title">Students with Approved ODs</h5>
    <ul class="list-group list-group-flush">
      <% courses.forEach(course => { %>
        <li class="list-group-item">
          <h6><%= course.courseName %></h6>
          <ul>
            <% course.studentsWithOD.forEach(student => { %>
              <li><%= student.name %> (<%= student.rollNo %>)</li>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  </div>